<h2 matDialogTitle>check2</h2>

<div matDialogContent>
    <form #f="ngForm" novalidate>
        <p>
            <mat-form-field>
                <input type="number" matInput placeholder="AccountID" [(ngModel)]="row.accountID" #accountID="ngModel" name="accountID" disabled>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input required type="text" matInput placeholder="Name" [(ngModel)]="row.name" #name="ngModel" name="name" 
                            [disabled]="operationType =='Delete'" [maxLength]="50">
                <mat-error *ngIf="name?.errors?.required">
                    Please enter a Name
                </mat-error>
                <mat-error *ngIf="name?.errors?.maxLength">
                    Max length is 50
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>

                <input required type="number" matInput placeholder="Balance" [(ngModel)]="row.balance" #balance="ngModel" name="balance" [min]="0"
                    [disabled]="operationType =='Delete'">
                <mat-error *ngIf="balance?.errors?.required">
                    Please enter a Balance
                </mat-error>
                <mat-error *ngIf="balance?.errors?.min">
                    Please enter non negative value
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-select placeholder="Currency" [(ngModel)]="row.currency" #currency="ngModel" name="currency" [disabled]="operationType =='Delete'"
                    required>
                    <mat-option *ngFor="let currency of allCurrency | async" [value]="currency.currencyID">
                        {{currency.currencyID}} - {{currency.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="currency?.errors?.required">
                    Please choose a Currency
                </mat-error>
            </mat-form-field>
        </p>
    </form>
</div>

<div matDialogActions>
    <button mat-raised-button color="primary" (click)="dialogRef.close(row)" [disabled]="!form?.valid && operationType !='Delete'">{{operationType}}</button>
    <button mat-raised-button color="accent" (click)="dialogRef.close(null)">Cancel</button>
</div>